<header>
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <%= link_to "Registreringsapp TOERH", root_path, id: "logo" %>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Start", root_path %></li>
                        <li><%= link_to "Om", about_path %></li>
                        <% if logged_in? %>
                        <% if is_admin? %>
                        <li><%= link_to "Users", api_users_path %></li>  
                        <% end %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Profil", current_user %></li>
                                <li><%= link_to "Inställningar", edit_api_user_path(current_user) %></li>
                                <li class="divider"></li>
                                <li>
                                    <%= link_to "Logga ut", logout_path, method: "delete" %>
                                </li>
                            </ul>
                        </li>
                        <% else %>
                        <li><%= link_to "Logga in", login_path %></li>
                        <li><%= link_to "Registrering", signup_path %></li>
                        <% end %>
                    </ul>
                    </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>
            </div>
        </header>